<div class="row" style="margin: 20px 20px 20px 20px">
    <!-- {{ items }} -->
    <div class="col-md-3">
        <div class = "panel panel-info">
            <div class = "panel-heading">
                <h3 class = "panel-title">{{leftTitle}}</h3>
            </div>
            <div class = "panel-body">
                <ul>
                    <li *ngFor="let menu of menus">
                        <a href="#"> {{menu}} </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class = "panel panel-info">
            <div class = "panel-heading">
                <a routerLink="/dashboard">
                    <span class="glyphicon glyphicon-chevron-left"></span> Back
                </a>
            </div>
            <div class = "panel-body">
                <br>
                <div class="row">
                    <div class="col-md-12" *ngFor="let item of items">
                        <!-- {{items}} -->
                        <table class="table">
                            <tr>
                                <td width="20%" rowspan="3"> 
                                    <img src="{{item.gambar}}" style="margin: auto" height="90px" width="70px"> <br>
                                </td>
                                <td width=""><b>Merk &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{item.nama}} </td>
                            </tr>
                            <tr>
                                <td width=""><b>Harga &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b> {{item.harga}} </td>
                            </tr>
                            <tr>
                                <td width=""><b>Deskripsi :</b> {{item.deskripsi}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class = "panel panel-info">
            <div class = "panel-heading">
                <h3 class = "panel-title">{{rightTitle}}</h3>
            </div>
            <div class = "panel-body">
                <div>
                    <div *ngFor="let menu of menus"><span class="label label-info">{{menu}}</span></div>
                    <!-- {{menus}} -->
                </div>
            </div>
        </div>
    </div>
</div>